<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link class="img-fluid rounded-circle float-left mr-2" rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Nanna Elise</title>
    {% endif %}
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <a href="{{ url_for('home') }}" class="title"><h1 class="title">Nanna Elise</h1></a>      
    <p class="title">.</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="nav navbar-nav" id="profileTabs">
        <li class="list"><a href="{{ url_for('home') }}" class="navbar-font">Home</a></li>
        <li class="list"><a href="{{ url_for('videos') }}" class="navbar-font">Videos</a></li>
        <li class="list"><a href="{{ url_for('recipes') }}" class="navbar-font">Recipes</a></li>
        <li class="list"><a href="{{ url_for('blog') }}" class="navbar-font">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('login') }}" class="navbar-font">Login</a></li>
        <li><a href="{{ url_for('register') }}" class="navbar-font">Register</a></li>
        </ul>
    </div>
  </div>
</nav>

<main role="main" class="container">

  <script type="text/javascript" src="{{ url_for('static', filename='script.js')  }}"></script>
  {% block content %}{% endblock content %}

</main>

</body>
</html>
