{% extends "layout.html" %}
{% block content %}
{% for batch_video in video_json.videos | batch(3, '&nbsp;') %}
  <div class="container">    
  <div class="row">
  {% for video in batch_video %}
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading panel-heading-height">{{ video.title }}</div>
        <!-- see if you can lazy load iframe links below -->
        <div class="panel-body"><iframe style="width: 100%" src={{ video.embed_url }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe></div>
        <div class="panel-footer">Video posted: {{ video.date }}</div>
      </div>
    </div>
  {% endfor %}
  </div>
  </div><br>  
{% endfor %}
<br><br>
{% endblock content %}

